<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting label="32001" type="bool" id="Donor_Enabled" default="false" />
        <setting label="32003" type="text" option="hidden" id="Donor_UPASS" subsetting="true"visible="eq(-1,true)"  default="user:password" />
        <setting label="32002" type="enum" id="Donor_Verified" subsetting="true" enable="false" visible="eq(-2,true)" values="False|True" default="0"/>
        <setting label="" type="sep"/>
        <setting label="32011" type="bool" id="Enable_Debugging" default="false" />
    </category>
    <category label="33000">
        <setting label="33001" type="folder" id="STRM_LOC" source="auto" default="" />   
        <setting label="33002" type="enum" id="Path_Type" values="Content Type|Source Name" default="0"/>
        <setting label="33003" type="bool" id="Clear_Strms"  default="false"/>
        <setting label="33004" type="enum" id="Automatic_Update" values="Disabled|6h|12h|24h|48h|72h" default="0"/>    
        <setting label="33005" type="enum" id="Automatic_Update_Delay" subsetting="true" visible="!eq(-1,0)" values="Disabled|5s|10s|15s|20s"  default="1"/>
        <setting label="33006" type="bool" id="Automatic_Update_Run" subsetting="true" visible="!eq(-2,0)" default="true"/>
    </category>
</settings>